<!DOCTYPE html>
<html>
  <head></head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We'll be right back</h1>
    <p>We're doing some maintenace</p>
    {{> footer}}
  </body>
</html>
